@import "tailwindcss";

body {
  background-color: #000000;
  margin: 0;
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* Animación de delay para el fondo */
@keyframes pulse-slow {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
}

.animation-delay-2000 {
  animation-delay: 2s;
}

/* Opcional: Para una fuente más elegante */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
.font-serif {
  font-family: 'Playfair Display', serif;
}

/* Oculta la mini scrollbar pero mantiene el scroll funcional en elementos con esta clase */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}